{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md">Products you love</div>
        <div class= "col-md">Same Day Delivery</div>
        <div class= "col-md">Save Time & Money</div>
    </div>
    <div class="row">
        <div class= "col-md">Picture</div>
        <div class= "col-md"> Deals that delight</div>
    </div>
    <div class="row">
        <div class= "col-md">Browse Products</div>
        <div class= "col-md"> Picture</div>
    </div>
    <div class ="row">
        <div class ="col-md">Logos</div>
    </div>
    <div class ="row">
        <div class = "col-md"> Picture</div>
        <div class = "col-md"> Deals that delight</div>
    </div>
    <div class="row">
        <div class ="col-md"> More Logos</div>
    </div>
    <div class="row">
        <div class ="col-md"> More Logos</div>
    </div>
    {{super()}}
</div>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md">
        Copyright 2020
    </div>
</div>
{% endblock %}